<div class="my-5 d-flex flex-row align-items-center">
  <h1><%= @article.title %></h1>
  <div style="margin-left: 1em">
    <%= link_to edit_article_path(@article.id) do %><i class="fa-regular fa-pen-to-square"></i><% end %>
    <%= link_to article_path(@article), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
      <i class="fa-regular fa-trash-can"></i>
    <% end %>
  </div>
</div>

<p><%= @article.content %></p>
